:root {
  /* --property: value; */
  --color1: white;
  --color2: #6500ff;
  --color3: black;
  --color4: #e3e3e3;
  --color5: #928f91;

  --font1: sans-serif;

  --card-gap: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: var(--font1);
}

body {
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

ul,
ol {
  list-style: none;
  /* list-style-type: none; */
}

.debug,
.debug * {
  border: 1px dashed red;
}
