:root {
  /* --property: value; */
  --color1: white;
  --color2: #6500ff;
  --color3: black;
  --color4: #e3e3e3;

  --font1: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: 0.5s; */
  font-family: var(--font1);
}

body {
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

/* button,
input,
textarea,
select {
  font: inherit;
} */

/* a {
  text-decoration: none;
  color: inherit;
} */

/* button {
  background: none;
  border: none;
  cursor: pointer;
} */

/* ul, ol { */
/* list-style: none; */
/* list-style-type: none; */
/* }  */

.debug,
.debug * {
  border: 1px dashed red;
}

/* .container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 5px;
} */
