body {
  height: 100vh;
  background-color: var(--color1);
  color: var(--color3);
}

.container {
  width: 100%;
  height: 100%;
}

body > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

header {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.title {
  font-size: 3rem;
}

.card .title {
  font-size: 2rem;
}

.subtitle,
.options * {
  font-size: 1rem;
  color: var(--color5);
  font-weight: 500;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 185px; */
  gap: 15px;
}

.options i {
  font-size: 2rem;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.opt-active i {
  color: var(--color3);
}

.option button:hover * {
  color: var(--color2);
}

.space {
  flex-grow: 1;
}

.card {
  height: 100%;
  min-width: calc(100% / 3 - 50px * 2 / 3);
  /*   flex-shrink: 0; */

  border-radius: 25px;
  padding: 50px;
  box-shadow: 0 5px 15px 1px var(--color5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-title {
  align-self: flex-start;
}

.card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.currency {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-size: 3.5rem;
  font-weight: bold;
}

.discount {
  background-color: var(--color4);
  padding: 8px;
  border-radius: 8px;
}

.card-btn {
  background-color: var(--color2);
  color: var(--color1);
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
  width: 100%;
  margin: 10px 0;
}

.feature-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 35px;
  gap: 30px;
  position: relative;
}

.feature-item {
  font-size: 1.1rem;
}

.yes::before {
  font-family: "bootstrap-icons";
  content: "\F633";
  position: absolute;
  left: 0;
  font-size: 2rem;
  translate: -20% -25%;
}

.no::before {
  font-family: "bootstrap-icons";
  content: "\F659";
  position: absolute;
  left: 0;
  font-size: 2rem;
  translate: -20% -25%;
}

.card:nth-of-type(2) {
  background-color: var(--color2);
}

.card:nth-of-type(2) .card-btn {
  background-color: var(--color1);
  color: var(--color2);
}

.card:nth-of-type(2) * {
  color: var(--color1);
}

.card:nth-of-type(2) .discount {
  color: var(--color3);
}

.card:hover,
.card-btn:hover {
  transform: scale(1.02);
}
